/* Estilo para o formulário de cadastro*/
form {
  width: 450px;
=======
/* Estilo para o formulário de login */
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.form-title {
  text-align: center;
  margin-top: 50px;  
}

/* Estilo para os rótulos no formulario de cadastro */
=======
/* Estilo para os rótulos */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilo para as entradas de texto no formulário de cadastro */
.form-input {
  width: 95%;
/* Estilo para as entradas de texto */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: #ffffff;
}


/* Estilo para o submit desativado */
.form-submit:disabled { 
  background-color: #ccc;
  color: #888;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  display: block;
  margin: 0 auto;
  text-align: center;
}



/* Estilo para o sbmit ativado */
.form-submit:enabled {
=======
}

/* Estilo para o botão de envio */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease-in

}


.form-submit:enabled:hover {
  background-color: #023f04;

}


.form-text-termos {
  text-align: justify;
}


.form-text-termos a {
  text-decoration: none; /* Remover sublinhado do link */  
  display: inline; /* Alterar para display inline */
  font-size: 18px; /* Aplica negrito ao texto */
}



/* Estilos abaixo  para olho mágico  */
.password-input {
  position: relative;
}

.password-input .toggle-password {
  position: absolute;
  top: 30%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  border-bottom: 10px;
}


.password-input .toggle-password.open-eye {
  position: absolute;
  top: 30%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  border-bottom: 10px;
  color: #4CAF50;
}


.password-input .toggle-password.closed-eye::before {
  content: "\f070"; /* Ícone do olho fechado */
}

.password-input .toggle-password.open-eye::before {
  content: "\f06e"; /* Ícone do olho aberto */
}